<h1>Friends</h1>

<% @friendships.each do |f| %>
  <ul>
    <li><%= link_to(f.friend.name, user_profile_path(f.friend)) %> (<%= link_to('Delete', friendship_path(f), method: :delete) %>)</li>
  </ul>
<% end %>

<%= render('layouts/links') %>